body {
  overflow:hidden;
  font-family: Nunito;
  background-color: #FCFCFC;
}


a:link {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

a:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

.container {
  height: 100%;
  position: relative;
  margin-top: 5%;
}

.menu {
  color: #B0B0B0;
  position: absolute;
  right: 10%;
}

.one-liner {
  color: #6A6A6A;
  font-size: 3.5vw;
}

.note {
  font-size: 2.5vw;
  min-height: 50px;
  display: flex;
  flex-direction: row;
}

.animation-pane {
  display: inherit;
}

.typed-cursor {
  font-size: 2.5vw;
}

.logo {
  color: #9B9B9B;
  position: absolute;
  left: 10%;
}

.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10%;
}

.subscribe {
  margin-top: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ======= MAILCHIMP STYLING ======= */

#mc_embed_signup{
  width: 100%;
}

#mc_embed_signup_scroll {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.mc-field-group, #mce-EMAIL {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50%;
}

#mce-EMAIL {
  border-radius: 5px;
  background-color: white;
  border-style: solid;
  border-color: #F1F1F1;
  padding-left: 10px;
  height: 40px;
}

.mce_inline_error{
  
}

#mc-embedded-subscribe {
  font-size: 15px;
  border-radius: 5px;
  color: #636363;
  margin-top: 10%;
  background-color: white;
  height: 50px;
  width: 150px;
  border-style: solid;
  border-color: #DBDBDB;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mc_embed_signup input.mce_inline_error{
  border-color: orangered !important;
}

#mc_embed_signup div.mce_inline_error{
  background-color: transparent !important;
  color: orangered !important;
  font-size: 10px;
}

#mce-success-response {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 15px;
  color: #6EC90B;
  width: 500px;
}

#mc-embedded-subscribe:hover {
  color: #6EC90B;
  border-color: #6EC90B;
  cursor: pointer;
}

/* ======= footer ======= */
.footer {
  font-size: 10px;
  color: #9B9B9B;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* ======= Typed.js blinking cursor ======= */

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}